.git
.github
.venv
__pycache__
*.py[cod]
*.sqlite3
.pytest_cache
.mypy_cache
.ruff_cache
coverage*
htmlcov
media
staticfiles
var
docker-data
prod-docker-data
.env
.env.*
!.env.example
!.env.production.example
.idea
.vscode
