DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://repository:repository@localhost:5432/repository
MILVUS_URI=http://localhost:19530
MILVUS_COLLECTION=publications_sparse
MILVUS_SPLADE_MODEL=naver/splade-cocondenser-ensembledistil
MILVUS_DROP_RATIO_BUILD=0.2
MILVUS_DROP_RATIO_SEARCH=0.1
MEDIA_ROOT=media
STATIC_ROOT=staticfiles

WAGTAILADMIN_BASE_URL=http://localhost:8000
