{% extends "base.html" %}
{% load socialaccount %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <h1>Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать аккаунт</button>
  </form>

  {% if google_oauth_enabled %}
    <hr>
    <p>Либо можно сразу создать пользователя через Google:</p>
    <form method="post" action="{% provider_login_url 'google' process='login' %}">
      {% csrf_token %}
      <button type="submit">Продолжить через Google</button>
    </form>
  {% endif %}
{% endblock %}
